<!DOCTYPE html>
<head>
  <title>ThinRender: Proof of Concept</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="thin.render.js"></script>
  <script type="text/javascript" src="vkbeautify.js"></script>
</head>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
<h1>Proof of Concept</h1>
<div id="formats">
  <input type="radio" onchange="format();" name="format" value="html" checked>html
  <input type="radio" onchange="format();" name="format" value="dom">dom
  <input type="radio" onchange="format();" name="format" value="xml">xml
  <input type="radio" onchange="format();" name="format" value="array">array
</div>
<div id="views">
  <div id="view">
var view_header = {
  div:"Header"
};
var view_home = {div:[
   view_header
  ,{div1:{id:"blabla",class:"blaclass",content:"nononono"}}
  ,{div2:"nononono2"}
  ,{ul:{class:"some_class",content:[
     {li1:{class:"selected",content:"nonono3"}}
    ,{li2:"nonono3"}
    ,{li3:{content:[
        {span1:"test1"}
       ,{span2:"test2"}
       ,{span3:{content:[
           {b:"bold"}
          ,{i:"<%= italic_text %>"}
        ]}}
     ]}}
  ]}}
]};
var view_body = {body: [
   {div:{id:"header"}}
  ,{include:"<%= view_head %>"}
  ,{div:{id:"footer"}}
]}
  </div>
  <div id="output"></div>
</div>
    
<script>
  var editor = ace.edit("view");
  editor.setTheme("ace/theme/monokai");
  editor.setFontSize(12);
  editor.getSession().setMode("ace/mode/javascript");
  editor.getSession().setTabSize(2);
  var output = ace.edit("output");
  output.setFontSize(12);
  output.setTheme("ace/theme/monokai");
  output.getSession().setTabSize(2);

  var output_dom = document.querySelectorAll("#output")[0];
  var dom_dom = document.querySelectorAll("#dom")[0];

  var beautify = {
     "html" :"xml"
    ,"xml"  :"xml"
    ,"css"  :"css"
    ,"array":"json"
    ,"dom"  :"xml"
  };

  function get_format() {
    var radios = document.getElementsByTagName('input');
    var value;
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].type === 'radio' && radios[i].checked) {
        value = radios[i].value;       
      }
    }
    return value;
  }

  editor.on("change",function(){
    var format = get_format();
    var ready = true;
    try{
      eval(editor.getValue());
    } catch(e) {
      ready = false;
    }
    if (ready) {
      var retorno = thin.render.the(view_home,{italic_text:"<i>foi</i>",__format:format});
      if(format == "dom"){
        // output_dom.className = "hide";
        // dom_dom.className = "";
        // dom_dom.innerHTML = "";
        dom_dom.appendChild(retorno);
      } else {
        // output_dom.className = "";
        // dom_dom.className = "hide";
        output.getSession().setMode("ace/mode/"+format);
        output.setValue(vkbeautify[beautify[format]](retorno),-1)
      }
    };
  });

  function format() { editor._emit("change") };
  editor._emit("change")

</script>
</body>
</html>
